<template lang="pug">
  v-app
    vv-toolbar
    v-container
      v-layout(v-bind="$binding" align-center justify-center fill-height)
        v-flex(xs12 md5)
          v-card.round-corners
            v-card-text.text-xs-center
              h2 Create your account
              h1(v-if="payload.subscription.plan === 'free'") Start FREE!
              h1(v-if="payload.subscription.plan === 'basic'") Get BASIC!
              h1(v-if="payload.subscription.plan === 'premium'") Go PREMIUM!
              
            v-card-text.text-xs-left.pl-5.pr-5.pb-5
              h3.mt-3.accent--text Personal Info
              v-layout(row)
                v-flex(xs6)
                  v-select(:items="['Engineer', 'Architect']" v-model="payload.name.prefix" label="Professional Title" required)
              v-text-field(v-model="payload.name.firstName" type="text" label="First Name" required :disabled="loading")
              v-text-field(v-model="payload.name.middleName" type="text" label="Middle Name" :disabled="loading")
              v-text-field(v-model="payload.name.lastName" type="text" label="Last Name" required :disabled="loading")
              v-layout(row)
                v-flex(xs1 style="padding-top: 22px;")
                  strong +63
                v-flex(xs11)
                  v-text-field(v-model="payload.mobileNo" type="text" label="Mobile No" mask="NNN-NNN-NNNN" required :disabled="loading")

              v-alert(:value="error" type="error") {{errorMessage}}

              v-checkbox(v-model="acceptTerms" label="Accept Terms of Use and Privacy Policy" :disabled="loading") 

              v-btn(block color="primary" :disabled="!forValid || !acceptTerms || loading" @click="submit('email')") Signup using email
              //- v-btn(block :disabled="!acceptTerms || loading" @click="submit('google')").sign-google Sign up with Google
              //- v-btn(block :disabled="!forValid || !acceptTerms || loading" @click="submit('facebook')").sign-facebook 
                fa-icon(name="brands/facebook-f") 
                | &nbsp;Signup with Facebook

            v-progress-linear(v-if="loading" :indeterminate="true" height="3").progress-linear

    v-snackbar(
      v-model="successSnack"
      :timeout="6000"
      color="success"
      top 
      right
    ) {{successMessage}}

    verification-email-dialog(
      :dialog="verificationEmailDialog"
      @close="v => verificationEmailDialog = v"
      :email="payload.email"
    )

    email-signup(
      :dialog="emailSignupDialog"
      @close="v => emailSignupDialog = v"
      @done="signupWithEmail"
    )
</template>

<script>
  import vvToolbar from '../commons/vv-toolbar';
  import verificationEmailDialog from '../dialogs/verification-email';
  import emailSignup from '../dialogs/email-signup';
  import { mapActions } from 'vuex';

  export default {
    components: {
      vvToolbar,
      verificationEmailDialog,
      emailSignup
    },
    created() {
      const { plan } = this.$route.query;

      if(!plan === 'free' || !!plan === 'basic' || !!plan === 'premium') {
        this.$router.push({name: 'pricing'});
      }

      this.payload.subscription.plan = 'free';
    },
    data() {
      return {
        forValid: false,
        acceptTerms: false,
        hidePass: true,
        loading: false,
        error: false,
        errorMessage: '',
        successSnack: '',
        successMessage: '',
        verificationEmailDialog: false,
        emailSignupDialog: false,
        payload: {
          email: '',
          password: '',
          name: {
            firstName: '',
            middleName: '',
            lastName: ''
          },
          mobileNo: '',
          subscription: {
            plan: '',
            paid: false
          }
        }
      }
    },
    methods: {
      ...mapActions({
        signup: 'auth/signup',
        googleSign: 'auth/googleSign',
        facebookSign: 'auth/facebookSign',
        createUser: 'auth/createUser',
        sendVerificationEmail: 'auth/sendVerificationEmail'
      }),
      submit(type) {
        if(!this.payload.name.firstName || !this.payload.name.lastName || !this.payload.mobileNo) {
          alert('Incomplete Form');
          return;
        }
        switch(type) {
          case 'email': 
            this.emailSignupDialog = true;
            break;
          case 'google': 
            this.signupWithGoogle();
            break;
          case 'facebook': 
            this.signupWithFacebook();
            break;
        }
      },
      async signupWithGoogle() {
        try {
          // this.loading = true;
          // this.error = false;
          // const user = await this.googleSign();
          // await this.createUser({user, data: this.payload});
          // this.loading = false;
          // this.successSnack = true;
          // this.successMessage = `Success! You can now log in using ${this.payload.email}`;

          // this.payload = {
          //   email: '',
          //   password: '',
          //   name: {
          //     firstName: '',
          //     middleName: '',
          //     lastName: ''
          //   },
          //   mobileNo: '',
          //   subscription: {
          //     plan: '',
          //     paid: false
          //   }
          // }
          // this.acceptTerms = false;
        } catch (e) {
          console.log(e);
          this.loading = false;
          this.error = true;
          this.errorMessage = e.message;
        }
      },
      async signupWithFacebook() {
        try {
          this.loading = true;
          this.error = false;
          const user = await this.facebookSign();
          this.payload.email = user.email;
          delete this.payload.password;
          await this.createUser({user, data: this.payload});
          this.loading = false;
          this.successSnack = true;
          this.successMessage = `Success! Logging you in to dashboard...`;

          this.payload = {
            email: '',
            password: '',
            name: {
              firstName: '',
              middleName: '',
              lastName: ''
            },
            mobileNo: '',
            subscription: {
              plan: '',
              paid: false
            }
          }
          this.acceptTerms = false;
          setTimeout(() => {
            this.$router.push({name: 'website'});
          }, 3000);
        } catch (e) {
          console.log(e);
          this.loading = false;
          this.error = true;
          this.errorMessage = e.message;
        }
      },
      async signupWithEmail({email, password}) {
        try {
          this.loading = true;
          this.error = false;
          const { plan } = this.$route.query;

          this.payload.email = email;
          this.payload.password = password;

          if(plan === 'free') {
            await this.signup(this.payload);
          } else {
            // paypal payment before signup
            await this.signup(this.payload);
          }
          
          this.loading = false;
          this.successSnack = true;
          this.successMessage = `Success! You can now log in using ${this.payload.email}`;

          this.payload = {
            email: '',
            password: '',
            name: {
              firstName: '',
              middleName: '',
              lastName: ''
            },
            mobileNo: '',
            subscription: {
              plan: '',
              paid: false
            }
          }
          this.acceptTerms = false;

          this.$router.push({name: 'website'});
        } catch (e) {
          console.log(e);
          this.loading = false;
          this.error = true;
          this.errorMessage = e.message;
        }
      }
    },
    watch: {
      payload: {
        handler(payload, before) {
          if(payload.name.firstName && payload.name.lastName && (payload.mobileNo && payload.mobileNo.length >= 10)) {
            this.forValid = true;
          } else {
            this.forValid = false;
          }
        },
        deep: true
      }
    }
  }
</script>

<style scoped>
  .sign-google {
    background-color: #d34836 !important;
    color: white !important;
  }
  
  .sign-facebook {
    background-color: #3B5998 !important;
    color: white !important;
  }
</style>
