<template lang="pug">
  v-container
    v-layout(column)
      v-flex(xs12 md10 offset-md1)
        h2 Payment
    v-layout(row)
      v-flex(xs12 md10 offset-md1)
        v-card.round-corners
          v-card-text
            h3.mb-2 You have a pending payment for the following product:
            v-card()
              //- v-card-title Mantrix Engineering Tools - {{user.subscription.plan | morph-uppercase}}
              v-card-text
                table(width="100%")
                  thead
                    tr(align="left") 
                      th Plan
                      th Amount
                  tbody 
                    tr
                      td {{plan.plan}}
                      td ₱{{plan.amount}}/mo
          v-card-text
            v-expansion-panel
              v-expansion-panel-content
                div(slot="header") 
                  h3
                    v-icon account_balance
                    | &nbspBank Transfer
                v-card
                  v-card-text.text-xs-center
                    h2 Bank Transfer
                    v-btn-toggle(v-model="bankOption")
                      v-btn(flat) Option 1
                      v-btn(flat) Option 2
                      v-btn(flat) Option 3
                      v-btn(flat) Option 4
                    
              v-expansion-panel-content
                div(slot="header")
                  h3 
                    v-icon account_balance_wallet  
                    | &nbspPaypal
                v-card
                  v-card-text
                    h2 Paypal
</template>

<script>
  import { mapActions, mapGetters } from 'vuex';
  export default {
    created() {
      const { subscription } = this.user;
      const { plan } = subscription;
      switch(plan) {
        case 'free': 
          this.plan = {
            plan: 'FREE',
            amount: 0,
          };
          break;
        case 'basic': 
          this.plan = {
            plan: 'BASIC',
            amount: 499,
          };
          break;
        case 'premium': 
          this.plan = {
            plan: 'PREMIUM',
            amount: 1499,
          };
          break;
      }
    },
    data() {
      return {
        plan: {
          plan: 'FREE',
          amount: 0,
        },
        bankOption: 0
      }
    },
    computed: {
      ...mapGetters({
        user: 'user/user',
        currentUser: 'auth/currentUser'
      })
    },
    methods: {
      ...mapActions({
        getUser: 'user/getUser'
      })
    }
  }
</script>
