<template lang="pug">
  v-container
    v-layout(column)
      v-flex(xs12 md10 offset-md1)
        h2 Profile
    v-layout(row)
      v-flex(xs12 md10 offset-md1)
        v-card.round-corners
          v-card-text.text-xs-center
            img(:src="user.picURL")
            h1 Eng. {{user.name.firstName}} {{user.name.middleName}} {{user.name.lastName}}
            p {{user.bio}}
            h4 {{user.email || '--'}}
            h4 License No. {{user.licenseNo || '--'}}
            h4 Mobile No. {{user.mobileNo || '--'}}
          v-card-text
            v-alert(:value="true" type="warning").black--text Update your profile using the desktop or mobile app. Download 
              router-link(:to="{name: 'dashboard'}") here
              |.
</template>

<script>
  import { mapActions, mapGetters } from 'vuex';
  export default {
    created() {
      this.getUser(this.currentUser.uid);
    },
    computed: {
      ...mapGetters({
        user: 'user/user',
        currentUser: 'auth/currentUser'
      })
    },
    methods: {
      ...mapActions({
        getUser: 'user/getUser'
      })
    }
  }
</script>
