<template lang="pug">
  v-app#inspire
    v-navigation-drawer(
      v-model="drawer"
      fixed
      app
      dark
    )
      v-toolbar(color="transparent")

      v-list(dense)
        v-list-tile(@click="" :to="{name: 'adminDashboard'}")
          v-list-tile-action
            v-icon dashboard
          v-list-tile-content
            v-list-tile-title Dashboard
        //- v-list-tile(@click="" :to="{name: ''}")
          v-list-tile-action
            v-icon person
          v-list-tile-content
            v-list-tile-title Profile

    v-toolbar(color="accent" dark fixed app)
      v-toolbar-side-icon(@click.stop="drawer = !drawer")
      h3 Hello, {{user && user.name ? user.name.firstName : ''}}!
      v-spacer
      v-btn(flat small :to="{name: 'logout'}") Logout
    v-content
      v-alert(v-if="!currentUser.emailVerified" :value="true" type="warning").black--text Your email address 
        strong {{user.email}} 
        | is not yet verified.
        v-btn(small dark @click="verifyEmailAddress") Verify now
      router-view
</template>

<script>
  import { mapActions, mapGetters } from 'vuex';
  export default {
    props: {
      source: String
    },
    created() {
      this.getUser(this.currentUser.uid);
      const  { subscription } = this.user;
      this.isPaid = subscription ? subscription.paid : false;
    },
    computed: {
      ...mapGetters({
        user: 'user/user',
        currentUser: 'auth/currentUser'
      })
    },
    data() {
      return {
        drawer: null,
        isPaid: false
      }
    },
    methods: {
      ...mapActions({
        getUser: 'user/getUser',
        sendEmailVerification: 'auth/sendEmailVerification'
      }),
      async verifyEmailAddress() {
        try {
          await sendEmailVerification();
        } catch (e) {
          
        }
      }
    },
    watch: {
      user(val) {
        const  { subscription } = val;
        this.isPaid = subscription ? subscription.paid : false;
      }
    }
  }
</script>

<style scoped>
  .not-paid:hover {
    cursor: pointer !important;
  }
</style>
