<template lang="pug">
  v-app
    vv-toolbar
    v-container
      v-layout(align-center justify-center row)
        v-flex(xs12 md10)
          v-card.round-corners
            v-card-text.text-xs-center
              h1 Started with our FREE Trial! No credit card required.
              table.table.text-xs-left.mt-5
                tr.text-xs-center
                  th
                  th 
                    v-icon star
                    br
                    span FREE
                  th 
                    v-icon star
                    v-icon star
                    v-icon star
                    br
                    span BASIC
                  th 
                    v-icon star
                    v-icon star
                    v-icon star
                    v-icon star
                    v-icon star
                    br
                    span PREMIUM
                tr(v-for="(item, key) in pricing")
                  td
                    v-icon.grey--text {{item.icon}}  
                    span &nbsp{{item.name}} 
                    v-btn(icon v-if="item.help" @click="showHelp(item)" small)
                      v-icon(style="font-size: 20px;").grey--text info
                  td 
                    v-icon(:color="item.free.icon === 'check' ? 'green' : 'red'") {{item.free.icon}}
                    span {{item.free.value}}
                  td 
                    v-icon(:color="item.basic.icon === 'check' ? 'green' : 'red'") {{item.basic.icon}}
                    span {{item.basic.value}}
                  td 
                    v-icon(:color="item.premium.icon === 'check' ? 'green' : 'red'") {{item.premium.icon}}
                    span {{item.premium.value}}
                tr
                  td
                  td 
                    v-btn(color="primary" large :to="{name: 'signup', query: {plan: 'free'}}")
                      strong Start FREE!
                  td 
                    v-btn(color="primary" large :to="{name: 'signup', query: {plan: 'basic'}}" disabled)
                      strong Get Basic!
                  td 
                    v-btn(color="accent" large :to="{name: 'signup', query: {plan: 'premium'}}" disabled)
                      strong Go Premium!
    pricing-help(
      :dialog="pricingHelpDialog"
      :data="helpData"
      @close="v => pricingHelpDialog = v"
    )

</template>
<script>
  import vvToolbar from "../commons/vv-toolbar";
  import pricing from '../../assets/pricing.json';
  import pricingHelp from '../dialogs/pricing-help';

  export default {
    components: {
      vvToolbar,
      pricingHelp
    },
    data() {
      return {
        pricing: pricing,
        pricingHelpDialog: false,
        helpData: {
          name: '',
          icon: '',
          help: {
            description: ''
          }
        }
      }
    },
    methods: {
      showHelp(data) {
        this.pricingHelpDialog = true;
        this.helpData = data;
      }
    }
  };
</script>

<style scoped>
  table,
  td,
  th {
    border: 1px solid lightgray;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }

  th {
    height: 50px;
    font-size: 30px;
  }

  td {
    font-size: 20px;
    padding: 10px;
  }
</style>
