<template lang="pug">
  v-card(flat)
    v-toolbar(
      color="primary"
      dark
      extended
      flat
    )
      v-btn(icon to="/")
        v-icon fa-home
      v-spacer
      v-btn(flat :to="{name: 'logout'}") Log out
    v-layout(row pb-2).mb-5
      v-flex(xs10 md8  offset-xs1 offset-md2)
        form(@submit.prevent="submit")
          v-card.card--flex-toolbar
            v-toolbar(card prominent)
              v-toolbar-title {{user.websiteEnabled ? 'Update' : 'Create'}} your professional website
            v-divider
            v-progress-linear(:indeterminate="true" color="accent" height="3" style="margin: 0; padding: 0" v-if="loading")
            v-progress-linear(color="accent" height="3" style="margin: 0; padding: 0" :value="uploadProgress" v-if="uploadProgress > 0 && uploadProgress < 100")
            v-card-text(:class="{'pa-5': !$isMobile}")
              div(style="padding-bottom: 20px;").text-xs-center
                image-upload(
                  :source="user.picURL" 
                  :options="{type:'profile_pic', style: 'round'}"
                  @done="uploadDone"
                )
              v-card.mb-4
                v-card-text
                  h2.accent--text Website Info
                  v-text-field(v-model="user.url" ref="urlField" label="Your unique website url" :hint="'www.'+$settings.websiteDomain+'/'+user.url || ''" persistent-hint :disabled="loading" required)
                  br
                  v-textarea(v-model="user.bio" label="A short description about you as a professional" :disabled="loading" counter="350")
                  span(v-if="!isURLValid").red--text URL format is invalid. Only alphanumeric charcters are allowed.
              v-card.mb-4
                v-card-text
                  h2.accent--text Personal Info
                  v-layout(row)
                    v-flex(xs12 md6)
                      v-select(:items="['Engineer', 'Architect']" v-model="user.name.prefix" label="Professional Title")
                  v-layout(row)
                    v-flex(col)
                      v-text-field(v-model="user.name.firstName" label="First Name" required :disabled="loading")
                    v-flex(col)
                      v-text-field(v-model="user.name.middleName" label="Middle Name" :disabled="loading")
                    v-flex(col)
                      v-text-field(v-model="user.name.lastName" label="Last Name" required :disabled="loading")
              v-card.mb-4
                v-card-text
                  h2.accent--text Education
                  form(@submit.prevent="addEduc")
                    v-layout(row)
                      v-flex
                        v-text-field(v-model="education.degree" label="Degree" required)
                      v-flex
                        v-text-field(v-model="education.school" label="School" required)
                      v-flex
                        v-text-field(v-model="education.start" label="From Year" required)
                      v-flex
                        v-text-field(v-model="education.end" label="To Year" required)
                      v-flex
                        v-btn(type="addEduc" flat color="accent") Add Education
                  v-list(two-line)
                    v-list-tile(@click="" v-for="(educ, key) in user.educations" :key="key")
                      v-list-tile-content
                        v-list-tile-title {{educ.degree}} at {{educ.school}}
                        v-list-tile-sub-title From {{educ.start}} to {{educ.end}}
                      v-list-tile-action
                        v-btn(icon @click="deleteEduc(key)")
                          v-icon fa-trash
              v-card.mb-4
                v-card-text
                  h2.accent--text What professional services do you provide?
                  form(@submit.prevent="addSer")
                    v-layout(row)
                      v-flex
                        v-text-field(v-model="service.name" label="Service Name" required hint="E.g. Consulatation, Estimate Jobs, etc.")
                      v-flex
                        v-text-field(v-model="service.description" label="Service Descrition" required hint="A short description of what your service is about.")
                      v-flex
                        v-btn(type="addSer" flat color="accent") Add Service
                  v-list(two-line)
                    v-list-tile(@click="" v-for="(ser, key) in user.services" :key="key")
                      v-list-tile-content
                        v-list-tile-title {{ser.name}}
                        v-list-tile-sub-title {{ser.description}}
                      v-list-tile-action
                        v-btn(icon @click="deleteSer(key)")
                          v-icon fa-trash
              v-card.mb-4
                v-card-text
                  h2.accent--text How can people reach you?
                  small Please note that these contact information will be displayed on your website. We highly recommend that you use your work contact information.
                  v-layout(row)
                    v-flex(xs12 md6)
                      v-text-field(v-model="user.contacts.workEmail" prepend-icon="fa-envelope" label="Work Email" type="email")
                  v-layout(row)
                    v-flex(xs12 md6)
                      v-text-field(v-model="user.contacts.phone.work" prepend-icon="fa-phone" label="Work Phone" type="text")
                    v-flex(xs12 md6)
                      v-text-field(v-model="user.contacts.phone.workMobile" prepend-icon="fa-mobile" label="Work Mobile" type="text")
                  v-layout(row)
                    v-flex(xs12 md6) 
                      v-text-field(v-model="user.contacts.social.facebook" prepend-icon="fab fa-facebook" label="Facebook" type="text" hint="E.g. https://facebook.com/juandelacruz")
                    v-flex(xs12 md6)
                      v-text-field(v-model="user.contacts.social.twitter" prepend-icon="fab fa-twitter" label="Twitter" type="text" hint="E.g. https://twitter.com/juandelacruz")
                  v-layout(row)
                    v-flex(xs12 md6)
                      v-text-field(v-model="user.contacts.social.linkedIn" prepend-icon="fab fa-linkedin" label="LinkedIn" type="text" hint="E.g. https://www.linkedin.com/in/juandelacruz")
                    v-flex(xs12 md6)
                      v-text-field(v-model="user.contacts.social.googlePlus" prepend-icon="fab fa-google-plus-g" label="Google Plus" type="text" hint="E.g. https://plus.google.com/01234567489")
              v-checkbox(v-if="!user.websiteEnabled" v-model="acceptDataPublicity" label="I agree that the information above will be publicly available." :disabled="loading") 
            v-divider
            v-progress-linear(:indeterminate="true" color="accent" height="3" style="margin: 0; padding: 0" v-if="loading")
            v-card-actions
              v-btn(large flat color="accent" target="_blank" :href="`https://${$settings.websiteDomain}/${user.url}`" v-if="user.websiteEnabled") VIEW EXISTING WEBSITE
              v-spacer
              v-btn(v-if="!user.websiteEnabled" type="submit" color="accent" large :disabled="!acceptDataPublicity || loading") {{user.websiteEnabled ? 'Update' : 'Create'}} my website {{user.websiteEnabled ? '' : 'for free'}}
              v-btn(v-else type="submit" color="accent" large :disabled="loading") {{user.websiteEnabled ? 'Update' : 'Create'}} my website {{user.websiteEnabled ? '' : 'for free'}}
              //- pre {{website}}  

    website-welcome(
      :dialog="welcomeToWebsiteDialog"
      @close="dialogClosed"
    )

    v-snackbar(
      :timeout="3000"
      top
      right
      color="success"
      v-model="success"
    ) {{successMessage}}

    v-snackbar(
      :timeout="5000"
      top
      right
      color="error"
      v-model="error"
    ) {{errorMessage}}
</template>

<script>
  import { mapActions, mapGetters } from 'vuex';
  import websiteWelcome from '../../dialogs/website-welcome';
  import imageUpload from '../../commons/image-upload';
  export default {
    components: {
      websiteWelcome,
      imageUpload
    },
    created() {
      if(this.currentUser)
        this.getUser(this.currentUser.uid);
      else 
        this.$router.push({name: 'home'});
    },
    mounted() {
      if(!this.user.websiteEnabled) {
        this.welcomeToWebsiteDialog = true;
      }
    },
    data() {
      return {
        isURLValid: true,
        isURLTooShort: false,
        acceptDataPublicity: false,
        loading: false,
        welcomeToWebsiteDialog: false,
        success: false,
        successMessage: '',
        error: false,
        errorMessage: '',
        education: {
          degree: '',
          school: '',
          start: '',
          end: ''
        },
        service: {
          name: '',
          description: ''
        }
      }
    },
    computed: {
      ...mapGetters({
        user: 'user/user',
        currentUser: 'auth/currentUser',
        uploadProgress: 'storage/progress'
      })
    },
    methods: {
      ...mapActions({
        getUser: 'user/getUser',
        updateUser: 'user/updateUser',
        signout: 'auth/signout',
        addEducation: 'user/addEducation',
        removeEducation: 'user/removeEducation',
        addService: 'user/addService',
        removeService: 'user/removeService',
      }),
      async submit() {
        try {
          this.loading = true;
          await this.updateUser({uid: this.currentUser.uid, data: this.user})
          this.loading = false;
          this.success = true;
          this.successMessage = 'Profile saved!'
        } catch (e) {
          console.error(e);
          this.loading = false;
          this.error = true;
          this.errorMessage = e.message;
        }
      },
      dialogClosed() {
        this.welcomeToWebsiteDialog = false;
        this.$refs.urlField.focus();
      },
      async uploadDone(url) {
        try {
          this.loading = true;
          this.user.picURL = url;
          await this.updateUser({uid: this.currentUser.uid, data: this.user});
          this.loading = false;
          this.success = true;
          this.successMessage = 'Profile save!';
        } catch (e) {
          console.error(e);
          this.loading = false;
          this.error = true;
          this.errorMessage = e.message;
        }
      },
      async addEduc() {
        try {
          await this.updateUser({uid: this.currentUser.uid, data: this.user});
          await this.addEducation({uid: this.currentUser.uid, data: this.education});
          this.success = true;
          this.successMessage = 'Education saved!'
          this.education = {
            degree: '',
            school: '',
            start: '',
            end: ''
          }
        } catch (e) {
          console.error(e);
          this.loading = false;
          this.error = true;
          this.errorMessage = e.message;
        }
      },
      async deleteEduc(key) {
        try {
          await this.updateUser({uid: this.currentUser.uid, data: this.user});
          await this.removeEducation({uid: this.currentUser.uid, key});
          this.success = true;
          this.successMessage = 'Education removed!'
        } catch (e) {
          console.error(e);
          this.loading = false;
          this.error = true;
          this.errorMessage = e.message;
        }
      },
      async addSer() {
        try {
          await this.updateUser({uid: this.currentUser.uid, data: this.user});
          await this.addService({uid: this.currentUser.uid, data: this.service});
          this.success = true;
          this.successMessage = 'Service saved!'
          this.service = {
            name: '',
            description: ''
          }
        } catch (e) {
          console.error(e);
          this.loading = false;
          this.error = true;
          this.errorMessage = e.message;
        }
      },
      async deleteSer(key) {
        try {
          await this.updateUser({uid: this.currentUser.uid, data: this.user});
          await this.removeService({uid: this.currentUser.uid, key});
          this.success = true;
          this.successMessage = 'Service removed!'
        } catch (e) {
          console.error(e);
          this.loading = false;
          this.error = true;
          this.errorMessage = e.message;
        }
      }
    },
    watch: {
      'user.url': {
        handler(val) {
          this.isURLValid = /^[a-z0-9]+$/i.test(val);
        },
        deep: true
      }
    }
  }
</script>

<style scoped>
  .card--flex-toolbar {
    margin-top: -64px;
  }
</style>
