<template lang="pug">
  v-app#inspire
    v-navigation-drawer(
      v-model="drawer"
      fixed
      app
      dark
    )
      v-toolbar(color="transparent")

      v-list(dense)
        v-list-tile(@click="" :to="{name: 'dashboard'}" :disabled="!isPaid" :class="{'not-paid': !isPaid}")
          v-list-tile-action
            v-icon dashboard
          v-list-tile-content
            v-list-tile-title Dashboard
        v-list-tile(@click="" :to="{name: 'profile'}" :disabled="!isPaid" :class="{'not-paid': !isPaid}")
          v-list-tile-action
            v-icon person
          v-list-tile-content
            v-list-tile-title Profile

    v-toolbar(color="primary" dark fixed app)
      v-toolbar-side-icon(@click.stop="drawer = !drawer")
      h3 Hello, {{user && user.name ? user.name.firstName : ''}}!
      v-spacer
      v-btn(flat small :to="{name: 'logout'}") Logout
    v-content
      v-progress-linear(:indeterminate="true" style="padding: 0; margin: 0;" v-if="loading")
      v-alert(v-if="!currentUser.emailVerified" :value="true" type="warning").black--text Your email address 
        strong {{user.email}} 
        | is not yet verified.
        v-btn(small dark @click="verifyEmailAddress") Verify now
      v-progress-linear(:indeterminate="true" height="3" v-if="loading").progress-linear
      router-view
    v-snackbar(
      :timeout="3000"
      color="success"
      v-model="successSnack"
      top
      right
    ) {{successMessage}}
    v-snackbar(
      :timeout="3000"
      color="error"
      v-model="errorSnack"
      top
      right
    ) {{errorMessage}}
</template>

<script>
  import { mapActions, mapGetters } from 'vuex';
  export default {
    props: {
      source: String
    },
    created() {
      this.getUser(this.currentUser.uid);
      this.getDiscounts();
      const  { subscription } = this.user;
      this.isPaid = subscription ? subscription.paid : false;
    },
    computed: {
      ...mapGetters({
        user: 'user/user',
        currentUser: 'auth/currentUser'
      })
    },
    data() {
      return {
        drawer: null,
        isPaid: false,
        loading: false
      }
    },
    methods: {
      ...mapActions({
        getUser: 'user/getUser',
        getDiscounts: 'user/getDiscounts',
        sendEmailVerification: 'auth/sendEmailVerification'
      }),
      async verifyEmailAddress() {
        try {
          this.loading = true;
          await this.sendEmailVerification();
          this.loading = false;
        } catch (e) {
          this.loading = false;
          console.error(e);
        }
      }
    },
    watch: {
      user(val) {
        const  { subscription } = val;
        this.isPaid = subscription ? subscription.paid : false;
      }
    }
  }
</script>

<style scoped>
  .not-paid:hover {
    cursor: pointer !important;
  }
</style>
