<template lang="pug">
  div
    v-tooltip(bottom)
      img(
        :src="source" 
        :width="dimen.width"
        v-img-fallback="personPlaceholder" 
        slot="activator"
        @click="triggerInput()"
        :class="{'round-img': options.style === 'round'}"
      ).img-display.elevation-5
      | Upload new photo
    input(
      ref="fileInputActivator" 
      type="file" 
      @change="fileChange" 
    ).hide
    v-dialog(v-model="uploadDialog" width="800")
      v-toolbar(dense).primary
        v-btn(icon @click="uploadDialog = false" :disabled="uploading")
          i.ti-close.white--text
        v-spacer
        v-btn(@click="rotate(-90)" :disabled="uploading") Rotate Left
        v-btn(@click="rotate(90)" :disabled="uploading") Rotate Right
        v-btn(@click="cropNow" :disabled="uploading") Crop and Upload
      v-card
        v-card-text.pa-0
          cropperjs-vue(
            ref="cropper" 
            :img="src"
            @crop="result"
            :viewMode="1"
            :aspectRatio="1"
          )
        //- v-card-text(v-else).text-md-center
        //-   v-progress-circular(
        //-     v-if="uploading"
        //-     :size="250"
        //-     :width="5"
        //-     :rotate="-90"
        //-     :value="_progress"
        //-     color="primary"
        //-   ) 
        //-     span(v-if="!doneUpload") Uploading {{ progress }}%...
        //-     v-icon(v-if="doneUpload").green--text check
</template>

<script>
  import personPlaceholder from '../../assets/images/mantrix-logo-primary.png';
  import { mapGetters, mapActions } from 'vuex';
  export default {
    props: {
      source: {
        type: String,
        required: false,
        default: ''
      },
      options: {
        type: '',
        style: ''
      },
      dimen: {
        type: Object,
        default: () => {
          return {
            width: 200
          }
        }
      }
    },
    computed: {
      ...mapGetters({
        user: 'auth/user',
        currentUser: 'auth/currentUser',
        progress: 'storage/progress'
      })
    },
    data() {
      return {
        personPlaceholder: personPlaceholder,
        src: personPlaceholder,
        dialog: false,
        uploading: false,
        _progress: 0,
        uploadDialog: false
      }
    },
    methods: {
      ...mapActions({
        upload: 'storage/upload',
      }),
      cropNow() {
        this.$refs.cropper.crop();
      },
      async result(result) {
        this.uploading = true;
        this.uploadDialog = false;
        const url = await this.upload({uid: this.currentUser.uid, data: result});
        this.uploading = false;
        this.$emit('done', url);
      },
      rotate(angle) {
        this.$refs.cropper.rotate(angle);
      },
      triggerInput () {
        this.$refs.fileInputActivator.click();
      },
      fileChange(file) {
        if (!file.target.files[0].name.match(/.(jpg|jpeg|png|gif)$/i)) {
          alert('Invalid image file. Must be either JPG, JPEG, PNG or GIF');
          file.target.value = null
          return;
        }
        var reader = new FileReader();
        reader.readAsDataURL(file.target.files[0]);
        reader.onload = () => {
          this.uploadDialog = true;
          this.$nextTick(() => {
            this.$refs.cropper.bind(reader.result);
            file.target.value = null;
          });
        };
        reader.onerror = (error) => {
          console.log('Error: ', error);
        };
      }
    },
    watch: {
      dialog (val) {
        console.log(val)
        if(val) {
          this.doneUpload = false;
          this._progress = 0;
          this.uploading = false;
        } else {
          this.$refs.cropper.destroy();
          console.log(this.$refs.cropper)
        }
      },
      progress(val) {
        this._progress = val;
      }
    }
  }
</script>

<style scoped>
  .img-display:hover {
    cursor: pointer;
  }
  .hide {
    display: none;
  }
</style>