<template lang="pug">
  v-footer(dark height="auto")
    v-card(
      flat
      tile
      width="100%"
    ).white--text.text-xs-center
      v-card-text
        v-btn(round flat :to="{name: 'terms'}") Terms of Use
        v-btn(round flat :to="{name: 'privacy-policy'}") Privacy Policy
        v-tooltip(bottom)
          v-btn(flat icon large slot="activator" @click="toggleChat")
            fa-icon(name="comment")
          | Live Chat
        v-tooltip(bottom)
          v-btn(flat icon large slot="activator" target="_blank" href="https://www.facebook.com/mantrixengineering/")
            fa-icon(name="brands/facebook-f")
          | Visit us on Facebook
      v-divider
      v-card-text.white--text.ml-3
        span &copy {{new Date().getFullYear()}} {{$settings.websiteName}}
      //- v-layout(row wrap align-center)
        v-flex(xs12)
          div.white--text.ml-3 &copy {{new Date().getFullYear()}} Estimate App
        v-spacer
</template>


<script>
  export default {
    methods: {
      toggleChat() {
        $crisp.push(["do", "chat:toggle"])
      }
    }
  }
</script>
