<template lang="pug">
  v-toolbar.elevation-0.white
    v-toolbar-title
      router-link(:to="{name: 'home'}").decorate-none {{$settings.websiteName}}
    v-spacer
    v-tooltip(bottom)
      v-btn(
        :href="$apkLink"
        large
        outline
        color="green"
        slot="activator"
        @click="downloadApk"
      ) 
        fa-icon(name="brands/android") 
        | &nbsp;Free Trial On Android
      | Download APK
    //- v-btn(flat large outline color="accent" v-if="currentUser" :to="{name: user.isAdmin ? 'adminDashboard' : 'website'}") Dashboard
    v-btn(href="https://app.mantrixengineering.com/login" flat large outline color="primary") Log in
    v-btn(href="https://app.mantrixengineering.com/signup" large :to="{name: 'signup', query: {plan: 'free'}}").primary Sign up
    login(
      :dialog="loginDialog"
      @close="v => loginDialog = v"
    )
</template>

<script>
  import login from '../dialogs/login';
  import { mapActions, mapGetters } from 'vuex';
  export default {
    components: {
      login
    },
    async created () {
      await this.$getAPKLink();
    },
    mounted () {
      const { action } = this.$route.query;
      if (action && action === 'download_apk') {
        window.location = this.$apkLink;
      }
    },
    data() {
      return {
        loginDialog: false
      }
    },
    computed: {
      ...mapGetters({
        currentUser: 'auth/currentUser',
        user: 'user/user',
        $apkLink: 'ui/apkLink'
      })
    },
    methods: {
      ...mapActions({
        $getAPKLink: 'ui/getAPKLink'
      }),
      downloadApk () {
        console.warn(this.$apkLink);
        window.location = this.$apkLink;
      }
    }
  }
</script>
