<template lang="pug">
  v-app#app
    router-view
</template>

<script>
import { ref } from './firebase/exports';
export default {
  name: 'App',
  async created () {
    // const snap = await ref.child('users')
    //   .child('data')
    //   .orderByChild('subscription/trial')
    //   .equalTo(null)
    //   .once('value');
    // console.warn(snap.val());
  }
}
</script>

<style>
#app {
  font-family: 'Work Sans', sans-serif !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  color: #2c3e50 !important;
}

.round-corners {
  border-radius: 10px !important;
}

.decorate-none {
  text-decoration: none !important;
}

.progress-linear {
  padding: 0 !important;
  margin: 0 !important;
}
</style>
