<template lang="pug">
  v-dialog(v-model="dialog2" width="400")
    form(@submit.prevent="submit")
      v-card.round-corners
        v-card-text.text-xs-center
          h1 Signup
        v-card-text
          v-text-field(v-model="email" type="email" label="Email Address" required)
          v-text-field(
            v-model="password"
            :append-icon="hidePass ? 'fa-eye' : 'fa-eye-slash'"
            @click:append="() => (hidePass = !hidePass)"
            :type="hidePass ? 'password' : 'text'"
            :label="`Your ${$settings.appName} password`" 
            required
            :hint="hidePass ? 'Password visibility off':'Password visibility on'"
          )
        v-divider
        v-card-actions
          v-spacer
          v-btn(type="submit" color="primary") Signup
</template>

<script>
  import { mapActions, mapGetters } from 'vuex';
  export default {
    props: {
      dialog: Boolean
    },
    data() {
      return {
        dialog2: this.dialog,
        error: false,
        hidePass: true,
        email: '',
        password: ''
      }
    },
    methods: {
      async submit() {
        const { email, password } = this;
        this.$emit('done', {email, password});
        this.dialog2 = false;
      }
    },
    watch: {
      dialog(val) {
        this.dialog2 = val;
      },
      dialog2(val) {
        if (!val) {
          this.$emit('close', false);
        }
      }
    }
  }
</script>