<template lang="pug">
  v-dialog(v-model="dialog2" width="600" :persistent="loading")
    form
      v-card.round-corners
        v-card-text.text-xs-center
          img(width="300" src="../../assets/images/connector-excel-logo.png")
          h1 FREE TRIAL Until Nov. 6, 2018 only!
          h2 MANTRIX Excel Version
        v-card-text.text-xs-center
          v-btn(dark style="background-color: #008641" @click="showLink = !showLink") 
            v-icon fa-download
            | &nbsp;Download Excel Version Now
          div(v-if="showLink")
            a(href="https://drive.google.com/file/d/1lBu48XeRYZEcK2hq35y-rlT1DWAdxpz_/view" target="_blank") Download Here
            br
            span Username: 
              code estimate
            br
            span Password: 
              code mantrixengineering
          
</template>

<script>
  import { mapActions, mapGetters } from 'vuex';
  export default {
    props: {
      dialog: Boolean
    },
    data() {
      return {
        dialog2: this.dialog,
        loading: false,
        error: false,
        errorMessage: '',
        email: '',
        password: '',
        showLink: false
      }
    },
    watch: {
      dialog(val) {
        this.dialog2 = val;
      },
      dialog2(val) {
        if (!val) {
          this.$emit('close', false);
        } 
      }
    }
  }
</script>

<style scoped>
  .sign-google {
    background-color: #d34836 !important;
    color: white !important;
  }
  
  .sign-facebook {
    background-color: #3B5998 !important;
    color: white !important;
  }
</style>
