<template lang="pug">
  v-dialog(v-model="dialog2" width="400" :persistent="loading")
    form(@submit.prevent="submit")
      v-card.round-corners
        v-card-text.text-xs-center
          h1 Welcome to {{$settings.appName}}!
        v-card-text
          v-text-field(ref="emailInputRef" v-model="email" type="email" label="Email Address" required :disabled="loading")
          v-text-field(v-model="password" type="password" label="Password" required :disabled="loading")
          v-btn(block type="submit" color="primary" :disabled="loading") Login
          //- h3(align="center") - OR -
          //- v-btn(block :disabled="loading" @click="signupWithFacebook()").sign-facebook 
            fa-icon(name="brands/facebook-f") 
            | &nbsp;Login with Facebook
          v-alert(v-model="error" type="error" dismissible) {{errorMessage}}
        v-progress-linear(v-if="loading" :indeterminate="true" height="3").progress-linear
          
</template>

<script>
  import { mapActions, mapGetters } from 'vuex';
  export default {
    props: {
      dialog: Boolean
    },
    data() {
      return {
        dialog2: this.dialog,
        loading: false,
        error: false,
        errorMessage: '',
        email: '',
        password: ''
      }
    },
    computed: {
      ...mapGetters({
        user: 'user/user'
      })
    },
    methods: {
      ...mapActions({
        login: 'auth/login',
        getUser: 'user/getUser',
        facebookSign: 'auth/facebookSign'
      }),
      async submit() {
        try {
          this.loading = true;
          this.error = false;
          const { uid } = await this.login({email: this.email, password: this.password});
          await this.getUser(uid);
          this.loading = false;
        } catch (e) {
          this.loading = false;          
          this.error = true;
          this.errorMessage = e.message;
        }
      },
      async signupWithFacebook() {
        try {
          this.loading = true;
          const { uid } = await this.facebookSign();
          console.log('uid', uid)
          await this.getUser(uid);
          this.loading = false;
        } catch (e) {
          this.loading = false;          
          this.error = true;
          this.errorMessage = e.message;
        }
      }
    },
    watch: {
      dialog(val) {
        this.dialog2 = val;
      },
      dialog2(val) {
        if (!val) {
          this.$emit('close', false);
        } else {
          setTimeout(() => {
            this.$refs.emailInputRef.focus();
          }, 100)
        }
      },
      user(val) {
        if(val.isAdmin) {
          this.$router.push({name: 'adminDashboard'});
        } else {
          this.$router.push({name: 'main'});
        }
      }
    }
  }
</script>

<style scoped>
  .sign-google {
    background-color: #d34836 !important;
    color: white !important;
  }
  
  .sign-facebook {
    background-color: #3B5998 !important;
    color: white !important;
  }
</style>
