<template lang="pug">
  v-dialog(v-model="dialog2" width="400")
    v-card.round-corners
      v-toolbar(color="transparent" dense absolute).elevation-0
        v-spacer
        v-btn(icon @click="dialog2 = false")
          v-icon close
      v-card-text.text-xs-center
        v-icon(style="font-size: 40px;").grey--text {{data.icon}}
        h2.grey--text {{data.name}}
      v-card-text
        p {{data.help.description}}
</template>

<script>
  export default {
    props: {
      dialog: Boolean,
      data: {
        type: Object,
        default: {
          name: '',
          icon: '',
          help: {
            description: ''
          }
        }
      }
    },
    data() {
      return {
        dialog2: this.dialog
      }
    },
    watch: {
      dialog(val) {
        this.dialog2 = val;
      },
      dialog2(val) {
        if (!val) {
          this.$emit('close', false);
        }
      }
    }
  }
</script>