<template lang="pug">
  v-dialog(v-model="dialog2" :width="600" persistent)
    v-card.round-corners
      v-card-text(v-if="!mode")
        v-btn(large block @click="mode = 'order'" color="primary") I want to order
        v-btn(large block @click="mode = 'pay'" color="accent") I already have an order code
        v-btn(large block flat @click="dialog2 = false") Cancel

      form(@submit.prevent="submitOrder" v-if="mode === 'order'")
        v-card-text
          v-btn(icon @click="mode = null")
            v-icon fa-arrow-left
          div.text-xs-center
            img(width="40" src="../../assets/images/mantrix-logo-primary.png")
            v-icon(style="margin-bottom: 10px;").ml-3.mr-3 fa-plus
            img(width="100" src="../../assets/images/connector-excel-logo.png")
            h1 Order Form
          v-layout(row)
            v-flex(xs6 md6)
              v-select(v-model="orderPayload.program" :items="programs" label="Program/Seminar To Purchase" required :disabled="loading" hint="1999.00 Php Only")
            v-flex(xs6 md6)
              v-select(v-model="orderPayload.os" :items="operationSystems" label="I am using" required :disabled="loading")
          v-layout(row)
            v-flex(xs6 md6)
              v-text-field(v-model="orderPayload.fullName" label="Full Name" required :disabled="loading")
            v-flex(xs6 md6)
              v-text-field(v-model="orderPayload.profession" label="Profession" hint="E.g. Engineer, Architect" required :disabled="loading")
          v-layout(row)
            v-flex(xs6 md6)
              v-text-field(v-model="orderPayload.email" type="email" label="Email Address" required :disabled="loading")
            v-flex(xs6 md6)
              v-layout(row)
                v-flex(xs1 style="padding-top: 22px; margin-right: 5px;")
                  strong +63
                v-flex(xs11)
                  v-text-field(v-model="orderPayload.mobileNo" mask="NNN-NNN-NNNN" label="Mobile No." required :disabled="loading")
          v-layout(row)
            v-flex(xs6 md6 v-if="!orderPayload.program.includes('Seminar')")
              v-text-field(v-model="orderPayload.username" type="text" label="Username For Excel App" required :disabled="loading")
            v-flex(xs6 md6 v-if="!orderPayload.program.includes('Seminar')")
              v-text-field(v-model="orderPayload.password" type="text" label="Password For Excel App" required :disabled="loading")
          v-select(v-model="orderPayload.paymentMethod" :items="paymentMethods" label="Payment method" required :disabled="loading")
          //- BPI
          div(v-if="orderPayload.paymentMethod === 'Bank of the Philippine Islands'")
            h1 BPI
            pre 001243-1338-38
              br
              | Kern Mantrix D. Mabazza
              br
              | Tuguegarao City Junction Branch
          //- BDO
          div(v-if="orderPayload.paymentMethod === 'Banco De Oro'")
            h1 BDO
            pre 012030003170
              br
              | Kern Mantrix D. Mabazza
              br
              | SM Tuguegarao City Branch
          //- Pera Padala
          div(v-if="orderPayload.paymentMethod === 'Money Transfer (Any Pera Padala)'")
            h1 Pera Padala
            pre Kern Mantrix D. Mabazza
              br
              | +639959627444
              br
              | Tuguegarao City, Cagayan, Philippines 3500
        v-divider
        v-card-actions
          v-spacer
          v-btn(type="submit" small color="primary" :disabled="loading") Submit order
          v-btn(small @click="mode = null" :disabled="loading") Cancel

      form(@submit.prevent="getOrderCode" v-if="mode === 'pay'")
        v-card-text
          v-btn(icon @click="mode = null")
            v-icon fa-arrow-left
          v-text-field(v-model="orderCode" label="Order Code" solo required :disabled="loading" hint="Press [Enter]" persistent-hint)
          div(v-if="order")
            h3(align="center") Upload a photo of the payment receipt as proof of payment.
            v-btn(block color="accent" small @click="openFileInput") Select image
            input(type="file" style="display:none;" ref="fileInputRef" @change="fileChange")
            img(v-if="selectedFile" :src="selectedFile" width="100%")
            //- v-checkbox(v-model="cancelOrder" label="Cancel Order (Action cannot be undone)")
          div(v-else="")
            h3(align="center").grey--text No order found
        v-divider
        v-progress-linear(v-if="uploading" v-model="uploadProgress" height="3" color="accent" style="margin: 0; padding: 0;")
        v-card-actions
          v-spacer
          v-btn(small color="primary" @click="uploadProofOfPayment" :disabled="uploading || !selectedFile") Submit
          v-btn(small @click="mode = null; order = null; orderCode = null; selectedFile = null;" :disabled="uploading") Cancel
      
      
      v-card-text(v-if="mode === 'pay-success'")
        h1 Success!
        p Proof of payment has been sent successfully. Thank you for purchasing Mantrix Engineering Software.
        p We will send the Mantrix Excel App to the email you provided upon making this order once your payment has been verified.
        P For questions or suggestions kindly email us at 
          code hello@mantrixengineering.com
          | or hit the chat button below.
        v-btn(large block flat @click="end") Close
        
      v-card-text(v-if="mode === 'success'")
        h1 Success!
        p Your order has been sent! 
        p Kindly complete your purchase via the payment method that you selected within 
          strong 48 hours (2 days)
          |, or your order will be cancelled.
        p Take note the following:
        h4 Product:
        pre {{orderPayload.program}}
        h4 Operating System:
        pre {{orderPayload.os}}
        h4 Merchant Details:
        //- BPI
        div(v-if="orderPayload.paymentMethod === 'Bank of the Philippine Islands'")
          h4 BPI
          pre 001243-1338-38
            br
            | Kern Mantrix D. Mabazza
            br
            | Tuguegarao City Junction Branch
        //- BDO
        div(v-if="orderPayload.paymentMethod === 'Banco De Oro'")
          h4 BDO
          pre 012030003170
            br
            | Kern Mantrix D. Mabazza
            br
            | SM Tuguegarao City Branch
        //- Pera Padala
        div(v-if="orderPayload.paymentMethod === 'Money Transfer (Any Pera Padala)'")
          h4
            i Pera Padala
          pre Kern Mantrix D. Mabazza
            br
            | +639959627444
            br
            | Tuguegarao City, Cagayan, Philippines 3500
        br
        h4 Here's your order code: 
        h1(align="center" style="font-size: 50px;").primary--text
          pre {{successOrderCode}}
        p Copy and save the order code above, you will use it to confirm your purchase along with the proof of payment (photo of the receipt).
        v-checkbox(v-model="codeCopied" label="I copied and saved the order code.")
        v-btn(v-if="codeCopied" large block flat @click="end") Close
</template>

<script>
  import { mapActions, mapGetters } from 'vuex';
  import fileInput from '../commons/file-input';
  import { uploadFile } from '../../firebase/storage';
  export default {
    components: {
      fileInput
    },
    props: {
      dialog: Boolean
    },
    data() {
      return {
        mode: null,
        codeCopied: false,
        dialog2: this.dialog,
        loading: false,
        uploading: false,
        error: false,
        cancelOrder: false,
        errorMessage: '',
        selectedFile: null,
        uploadProgress: 0,
        programs: [
          'Estimate Program Php1999.00', 
          'Scheduling Program Php1999.00',
          'Mobile - Android Version',
          'Web App Version',
          'Seminar - Php2999.00 (Makati City)',
          'Seminar - Php2999.00 (Baguio City)',
          'Seminar - Php2999.00 (Laoag City)',
          'Seminar - Php2999.00 (Davao City)',
          'Seminar - Php2999.00 (Legazpi City)',
          'Seminar - Php2999.00 (Quezon City)',
          'Seminar - Php2999.00 (Tuguegarao Cit)'
        ],
        operationSystems: [
          'Windows',
          'Mac OS'
        ],
        paymentMethods: [
          'Bank of the Philippine Islands', 
          'Banco De Oro', 
          // '711 (Coins.ph)', 
          'Money Transfer (Any Pera Padala)'
        ],
        orderPayload: {
          program: '',
          os: '',
          fullName: '',
          profession: '',
          paymentMethod: '',
          mobileNo: '',
          email: '',
          username: '',
          password: ''
        },
        successOrderCode: '',
        orderCode: '',
        order: null
      }
    },
    methods: {
      ...mapActions({
        createOrder: 'excel/createOrder',
        getOrder: 'excel/getOrder',
        addOrderPicUrl: 'excel/addOrderPicUrl'
      }),
      async submitOrder() {
        try {
          this.loading = true;
          this.successOrderCode = await this.createOrder(this.orderPayload);
          this.mode = 'success';
          this.loading = false;
        } catch (e) {
          console.log(e);
          this.loading = false;
        }
      },
      async getOrderCode() {
        try {
          this.loading = true;
          this.order = await this.getOrder(this.orderCode);
          this.loading = false;
        } catch (e) {
          console.log(e);
          this.loading = false;
        }
      },
      end() {
        this.mode = null;
        this.orderPayload = {
          program: '',
          os: '',
          fullName: '',
          profession: '',
          paymentMethod: '',
          mobileNo: '',
          email: '',
          username: '',
          password: ''
        }
        this.dialog2 = false;
      },
      openFileInput() {
        this.$refs.fileInputRef.click();
      },
      fileChange(file) {
        if (!file.target.files[0].name.match(/.(jpg|jpeg|png|gif)$/i)) {
          window.alert('Invalid image file. Must be either JPG, JPEG, PNG or GIF');
          file.target.value = null;
          return;
        }
        var reader = new window.FileReader();
        let that = this;
        reader.readAsDataURL(file.target.files[0]);
        reader.onload = async () => {
          that.selectedFile = reader.result;
        };
        reader.onerror = (error) => {
          console.log('Error: ', error);
        };
      },
      async uploadProofOfPayment (result) {
        this.uploading = true;
        if(!this.selectedFile) return;
        uploadFile(`${process.env.VERSION}/excel-orders/${this.orderCode}`, this.selectedFile)
          .subscribe(({
            next: async (data) => {
              if (!data.done) {
                this.uploadProgress = data.progress;
              } else {
                await this.addOrderPicUrl({id: this.orderCode, url: data.url});
                this.uploading = false;
                this.mode = 'pay-success';
                this.order = null; 
                this.orderCode = null; 
                this.selectedFile = null;
              }
            },
            error: (error) => console.error(error)
          }));
      }
    },
    watch: {
      dialog(val) {
        this.dialog2 = val;
      },
      dialog2(val) {
        if (!val) {
          this.$emit('close', false);
        } else {
          setTimeout(() => {
            // this.$refs.emailInputRef.focus();
          }, 100)
        }
      }
    }
  }
</script>