<template lang="pug">
  v-dialog(v-model="dialog2" width="400" persistent)
    v-card.round-corners
      v-toolbar(color="transparent" dense absolute).elevation-0
        v-spacer
        v-btn(icon @click="dialog2 = false")
          v-icon close
      v-card-text.text-xs-center
        h2 Verify your account
      v-card-text
        p Verify your account by clicking 
          strong the link 
          | in the email we sent to your email address 
          strong {{email}}
          |.
        p No verification email received? 
          v-btn(small flat color="primary") Resend
</template>

<script>
  export default {
    props: {
      dialog: Boolean,
      email: String
    },
    data() {
      return {
        dialog2: this.dialog
      }
    },
    watch: {
      dialog(val) {
        this.dialog2 = val;
      },
      dialog2(val) {
        if (!val) {
          this.$emit('close', false);
        }
      }
    }
  }
</script>