<template lang="pug">
  v-dialog(v-model="dialog2" width="600")
    form(@submit.prevent="submit")
      v-card.round-corners
        v-card-text.text-xs-center
          h1 Good day {{user.name.firstName}}! Welcome to {{$settings.appName}}!
        v-card-text
          p Let's setup your FREE professional website. 
          p Normally having a seasoned web developer to create a professioan website for you, would cost at around ₱30,000 to ₱50,000 at the minimum.
          p However as a part of BETA release promo, we will give you the website you've been longing for, for FREE! That's right, 100% FREE*. Just fill out the form below and start sharing your new website!
          br
          small * 100% FREE until the BETA release ends.
        v-divider
        v-card-actions
          v-spacer
          v-btn(color="primary" @click="dialog2 = false") Proceed
</template>

<script>
  import { mapGetters } from 'vuex';
  export default {
    props: {
      dialog: Boolean
    },
    data() {
      return {
        dialog2: this.dialog
      }
    },
    computed: {
      ...mapGetters({
        user: 'user/user'
      })
    },
    watch: {
      dialog(val) {
        this.dialog2 = val;
      },
      dialog2(val) {
        if (!val) {
          this.$emit('close', false);
        } 
      }
    }
  }
</script>