<template lang="pug">
  v-container
    v-layout(row)
      v-flex(xs12 md10 offset-md1)
        h2 Dashboard
    v-layout(row)
      v-flex(xs12 md10 offset-md1)
        v-card.round-corners
          v-card-text.text-xs-center
            h2 Congratulations on choosing to step up!
            p To start using [App Name], you can download the application using the links below.
          v-card-text
            v-layout(v-bind="$binding")
              v-flex.text-xs-center.pa-1
                v-icon(style="font-size: 150px;") desktop_windows
                br
                v-btn(color="accent") 
                  v-icon cloud_download 
                  | &nbsp Download for Windows
                // div.text-xs-left
                //   p Estimate app is available on any windows (7 or latest) compatible device.
              v-flex.text-xs-center.pa-1
                v-icon(style="font-size: 150px;") phone_android
                br
                v-btn(color="accent") 
                  v-icon cloud_download 
                  | &nbsp Download for Android
                // div.text-xs-left
                //   p Estimate app is also available on any android (5.0 and up) device.

</template>

<script>
  export default {
        
  }
</script>

